%code {
  font-size: 10rem;
  text-align: center;
  line-height: 100vh;
}

#code-piece-0 {
  @extend %code;
  @media (max-width: 650px) {
    font-size: 7rem;
  }
  @media (max-width: 450px) {
    font-size: 5rem;
  }
  @media (max-width: 330px) {
    font-size: 4rem;
  }
  @media (max-width: 260px) {
    font-size: 3rem;
  }
}

#code-piece-1 {
  position: relative;
  text-align: center;
  p {
    font-size: 6rem;
    span:first-of-type,
    span:last-of-type {
      white-space: nowrap;
    }
    @media (max-width: 1050px) {
      font-size: 5rem;
    }
    @media (max-width: 800px) {
      font-size: 4.5rem;
    }
    @media (max-width: 700px) {
      font-size: 4rem;
    }
    @media (max-width: 650px) {
      font-size: 3.5rem;
    }
    @media (max-width: 550px) {
      font-size: 3rem;
    }
    @media (max-width: 500px) {
      line-height: 4rem;
      span {
        display: block;
      }
    }
  }
}

#code-piece-2 {
  position: relative;
  p {
    font-size: 4rem;
    .pad-5 {
      display: block;
      padding-left: 7rem;
      padding-top: .7rem;
      line-height: 5.8rem;
      @media (max-width: 500px) {
        padding-left: 5.2rem;
        line-height: 4.5rem;
      }
      @media (max-width: 350px) {
        padding-left: 4.4rem;
        line-height: 4rem;
      }
    }
    @media (max-width: 500px) {
      font-size: 3rem;
    }
    @media (max-width: 350px) {
      font-size: 2.5rem;
    }
  }
}

#code-piece-3 {
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  @media (max-height: 500px) and (orientation: landscape) {
    height: 500px !important;
  }
  @media (max-width: 800px) {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  @media (max-width: 350px) {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}

#code-piece-4 {
  font-size: 6rem;
  position: relative;
  padding-top: 2rem;
  @media (max-width: 800px) {
    font-size: 5rem;
  }
  @media (max-width: 680px) {
    font-size: 4.5rem;
  }
  @media (max-width: 600px) {
    font-size: 4rem;
  }
  @media (max-width: 530px) {
    font-size: 3.5rem;
  }
  @media (max-width: 460px) {
    font-size: 3rem;
  }
  @media (max-width: 370px) {
    font-size: 2.5rem;
  }
  @media (max-width: 280px) {
    font-size: 2rem;
  }
}

#code-piece-5 {
  visibility: visible;
  font-size: 6.5rem;
  position: relative;
  background: #FF006B;
  background: linear-gradient(90deg, #FF006B 0%,#1278f5 100%);
  @media (max-width: 700px) {
    font-size: 5rem;
  }
  @media (max-width: 550px) {
    font-size: 4rem;
  }
  @media (max-width: 430px) {
    font-size: 3rem;
  }
  @media (max-width: 330px) {
    font-size: 2rem;
  }
  @media (max-height: 500px) and (orientation: landscape) {
    font-size: 4rem;
  }
  div {
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    padding-top: 30vh;
    width: 100%;
    p {
      margin-left: 5%;
      margin-right: 5%;
      color: #fff;
    }
  }
  img {
    margin-top: 5vh;
    height: 95vh;
    min-width: 1px;
    position: absolute;
    bottom: 0;
    margin-left: 0;
    padding: 0;
    transform: scaleX(-1);
  }
  #img-1 { left: -5%; }
  #img-2 { left: 15%; }
  #img-3 { left: 35%; }
  #img-4 { left: 55%; }
  #img-5 { left: 75%; }
  #img-1, #img-2, #img-3, #img-4, #img-5 { 
    transform: scaleY(-1);
    top: 0;
    margin-bottom: 5vh;
    margin-top: 0;
    animation: img-multiplying-0 9s linear infinite;
  }
  #img-6 { left: -5%; animation: img-multiplying-6 6s linear infinite; }
  #img-7 { left: 20%; animation: img-multiplying-7 4s linear infinite; }
  #img-8 { left: 45%; animation: img-multiplying-8 7s linear infinite; }
  #img-9 { left: 70%; animation: img-multiplying-7 5s linear infinite; }
}

@keyframes img-multiplying-0 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes img-multiplying-6 {
  0% { opacity: 1; }
  50% { opacity: .2; }
  100% { opacity: 1; }
}

@keyframes img-multiplying-7 {
  0% { opacity: .2; }
  50% { opacity: 1; }
  100% { opacity: .2; }
}

@keyframes img-multiplying-8 {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

.color-pink { color: $pink; }
.color-blue { color: $blue; }
.color-violet { color: $violet; }
.color-black { color: #000; }
.color-gray { color: $gray; }

.pad-1 { padding-left: 2rem; }
.pad-2 { padding-left: 4rem; }
.pad-3 { 
  padding-left: 13.3rem; 
  @media (max-width: 800px) {
    padding-left: 15rem;
  }
  @media (max-width: 350px) {
    padding-left: 12.5rem;
  }
}
.pad-4 { padding-left: 6rem; 
  @media (max-width: 550px) {
    padding-left: 4rem
  }
  @media (max-width: 400px) {
    padding-left: 3rem
  }
  @media (max-width: 320px) {
    padding-left: 2rem
  }
}

.box-circle-1 {
  left: 20%;
  top: 70%;
  @media (max-width: 1100px) {
    left: 15%;
    top: 80%;
  }
  @media (max-width: 950px) {
    top: 90%;
  }
  @media (max-width: 755px) {
    display: none;
  }
}

.box-circle-2 {
  left: 80%;
  top: 40%;
  @media (max-width: 1100px) {
    left: 85%;
    top: 30%;
  }
  @media (max-width: 950px) {
    top: 20%;
  }
  @media (max-width: 755px) {
    display: none;
  }
}

.box-circle-3 {
  left: 15%;
  top: 65%;
  @media (max-width: 1100px) {
    left: 10%;
    top: 75%;
  }
  @media (max-width: 950px) {
    left: 9%;
    top: 85%;
  }
  @media (max-width: 755px) {
    display: none;
  }
}

.gradient-border {
  background: #fff;
  position: relative;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  &:hover {
    &::after {
      z-index: -1;
    }
  }
}

.circle-2 {
  height: 13rem;
  width: 13rem;
  line-height: 13rem;
}

.circle-3 {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * 4px);
  left: calc(-1 * 4px);
  height: calc(100% + 4px * 2);
  width: calc(100% + 4px * 2);
  background: linear-gradient(90deg, $pink, $blue);
  border-radius: 50%;
  animation: animate-gradient 4s ease-in-out alternate infinite;
  background-size: 300% 300%;
}

@keyframes animate-gradient {
	0% { background-position: 0% 50%;	}
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}