$blue: #1278f5;
$pink: #ff006b;
$violet: #7800ff;
$gray: #7d777a;

* {
  font-family: 'Offside', monospace;
  font-weight: 100;
  color: #000;
}

::-webkit-scrollbar { 
  display: none; 
}

html {
  background-color: #fff;
  font-size: 100%;
  overflow-x: hidden;
  @media (min-width: 1160px) and (max-width: 1500px) {
    font-size: 90%;
  }
  @media (max-width: 1160px) {
    font-size: 80%;
  }
  @media (max-width: 950px) {
    font-size: 70%;
  }
  @media (max-height: 600px) and (orientation: portrait) {
    font-size: 60%;
  }
  @media (max-height: 550px) and (orientation: portrait) {
    font-size: 50%;
  }
  @media (max-height: 500px) and (orientation: portrait) {
    font-size: 40%;
  }
  @media (max-height: 400px) and (orientation: portrait) {
    font-size: 35%;
  }
  @media (max-height: 325px) and (orientation: portrait) {
    font-size: 30%;
  }
}

section {
  height: 100vh;;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
