$blue: #1278f5;
$pink: #ff006b;
$violet: #7800ff;
$gray: #7d777a;

* {
  font-family: 'Offside', monospace;
  font-weight: 100;
  color: #000;
  // border: 1px solid red;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  &:hover {
  background: #555; 
  }
}

html {
  background-color: #fff;
  font-size: 100%;
  overflow-x: hidden;
  @media (min-width: 2000px) {
    font-size: 130%;
  }
  @media (min-width: 1800px) {
    font-size: 110%;
  }
  @media (min-width: 1160px) and (max-width: 1500px) {
    font-size: 90%;
  }
  @media (max-width: 1160px) {
    font-size: 80%;
  }
  @media (max-width: 950px) {
    font-size: 70%;
  }
  @media (max-width: 800px) {
    font-size: 60%;
  }
}

section {
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-p {
  @media (orientation: portrait) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.center-l {
  @media (min-width: 1230px) {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.center-m {
  margin: 0 auto;
}
