#about {
  h1 {
    font-size: 2rem;
    margin-top: 8rem;
    text-align: center;
    span {
      color: $blue;
      display: block;
      &:nth-of-type(3) {
        color: $pink;
        font-size: 4rem;
        padding-top: 1rem;
      }
    }
  }
  ul {
    color: $blue;
    padding: 3rem 0 0 8rem;
    list-style-type: none;
    font-size: 1.2rem;
    li {
      color: $violet;
      padding-top: .2rem;
      font-size: 1.1rem;
    }
  }
  a {
    text-align: center;
    color: $gray;
    margin-top: 7rem;
    display: block;
  }
}