address {
  height: 100vh;
  font-style: normal;
  text-align: center;
  position: relative;
  p {
    font-size: 2rem;
    padding-bottom: .5rem;
    &:first-of-type {
      font-size: 3rem;
      padding-bottom: 1rem;
    }
  }
  a {
    font-size: 2rem;
    padding-bottom: .5rem;
    i {
      margin-top: 1rem;
      padding: 0 .3rem;
      font-size: 2.3rem;
      transition: color .3s ease-in-out;
      &:hover {
        color: $blue;
      }
    }
  }
}