header {
  height: 100vh;
  z-index: 1;
  position: relative;
  button {
    background: none;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    outline: none;
    cursor: pointer;
    z-index: 10;
    @media (max-width: 400px) {
      height: 40px;
    }
    i {
      padding: 10px;
      font-size: 40px;
      color: $pink;
      transition: color 1s ease-in-out;
      @media (max-width: 400px) {
        font-size: 25px;
      }
      &:hover {
        color: $violet;
      }
    }
  }
  .portrait-mode-only {
    display: none;
    @media (orientation: portrait) {
      display: block;
      height: 50vh;
    }
    img {
      @media (orientation: portrait) {
        height: 50vh;
        margin: 0 auto;
        display: block;
        text-align: center;
      }
    }
  }
  .col-5 {
    @media (orientation: landscape) {
      background: url('../img/portret4.png') no-repeat right / cover;
      margin-top: 5vh;
      height: 95vh;
    }
    @media (orientation: portrait) {
      display: none;
    }
    @media (max-height: 480px) and (min-width: 780px) and (orientation: landscape) {
      background-image: none;
    }
    img {
      margin-top: 5vh;
      height: 95vh;
      @media (orientation: landscape),
      (orientation: portrait) {
        display: none;
      }
      @media (max-height: 480px) and (min-width: 780px) and (orientation: landscape) {
        display: inline;
      }
    }
  }
  .col-7 {
    position: relative;
    height: 100vh;
    @media (orientation: portrait) {
      height: 50vh;
    }
    h1 {
      font-size: 4.5rem;
      padding-left: 2rem;
      @media (orientation: portrait) {
        padding-left: 0;
        left: 50%;
      }
      @media (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
        font-size: 6rem;
      }
      @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
        font-size: 5rem;
      }
      @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
        font-size: 4.5rem;
      }
      @media (max-width: 1350px) and (orientation: landscape) {
        padding-left: 4rem;
      }
      @media (max-width: 1270px) and (orientation: landscape) {
        left: 40%;
      }
      @media (max-width: 950px) and (orientation: landscape) {
        padding-left: 2rem;
      }
      @media (max-height: 480px) and (orientation: landscape) {
        font-size: 4rem;
      }
      @media (max-height: 430px) and (orientation: landscape) {
        font-size: 3rem;
      }
      span {
        color: $blue;
        display: block;
        @media (orientation: portrait) {
        }
        &:nth-of-type(1) {
          margin-bottom: 5rem;
          padding-left: .2rem;
          @media (orientation: portrait) {
            text-align: center;
            margin-bottom: 3rem;
          }
          @media (max-height: 430px) and (orientation: landscape) {
            margin-bottom: 2rem;
          }
        }
        &:nth-of-type(2) {
          font-size: 3.5rem;
          padding-left: .3rem;
          @media (orientation: portrait) {
            font-size: 2.5rem;
          }
          @media (min-width: 1351px) and (min-height: 1024px) and (orientation: landscape) {
            font-size: 5rem;
          }
          @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
            font-size: 4rem;
          }
          @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
            font-size: 3.5rem;
          }
          @media (max-height: 480px) and (orientation: landscape) {
            font-size: 3.5rem;
          }
          @media (max-height: 430px) and (orientation: landscape) {
            font-size: 2.5rem;
          }
        }
        &:nth-of-type(3) {
          padding-left: 6rem;
          @media (orientation: portrait) {
            font-size: 3rem;
          }
          @media (min-width: 1351px) and (min-height: 1024px) and (orientation: landscape) {
            font-size: 5rem;
          }
          @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
            font-size: 4rem;
          }
          @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
            font-size: 3.5rem;
          }
          @media (max-height: 480px) and (orientation: landscape) {
            font-size: 3.5rem;
          }
          @media (max-height: 430px) and (orientation: landscape) {
            font-size: 2.5rem;
          }
        }
        &:nth-of-type(4) {
          font-size: 5.5rem;
          color: $pink;
          padding-left: 2.5rem;
          @media (orientation: portrait) {
            font-size: 3.5rem;
            padding-left: 3.5rem;
          }
          @media (min-width: 1351px) and (min-height: 1024px) and (orientation: landscape) {
            font-size: 7rem;
          }
          @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
            font-size: 6rem;
          }
          @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
            font-size: 5.5rem;
          }
          @media (max-height: 480px) and (orientation: landscape) {
            font-size: 4.5rem;
          }
          @media (max-height: 430px) and (orientation: landscape) {
            font-size: 3.5rem;
          }
        }
        &:nth-of-type(5) {
          padding-left: 14rem;
          @media (orientation: portrait) {
            font-size: 3rem;
          }
          @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
            font-size: 5rem;
          }
          @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
            font-size: 4.5rem;
          }
          @media (min-width: 1351px) and (min-height: 1024px) and (orientation: landscape) {
            padding-right: 6rem;
          }
        }
      }
    }
  }
}

@keyframes img-multiplying-0 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}