%code {
  font-size: 10rem;
  text-align: center;
  line-height: 100vh;
}

#code-piece-1 {
  @extend %code;
}

#code-piece-2 {
  @extend %code;
  font-size: 6rem;
}

#code-piece-3 {
  p { 
    font-size: 4rem;
    padding: 35vh 10vw;
    span {
      display: block;
      padding-left: 7rem;
      padding-top: .7rem;
    }
  }
}