%code {
  font-size: 10rem;
  text-align: center;
  line-height: 100vh;
}

#code-piece-1 {
  @extend %code;
}

#code-piece-2 {
  @extend %code;
  font-size: 6rem;
}

#code-piece-3 {
  p { 
    font-size: 4rem;
    padding: 35vh 10vw;
    span {
      display: block;
      padding-left: 7rem;
      padding-top: .7rem;
    }
  }
}

#code-piece-4 {
  font-size: 1.5rem;
  padding-top: 4rem;
  line-height: 2rem;
  position: relative;
  .center {
    margin: 0 auto;
    width: 60%;
  }
}

#code-piece-5 {
  padding-top: 30vh;
  margin-left: 17%;
  font-size: 6rem;
}

.color-pink {
  color: $pink;
}

.color-blue {
  color: $blue;
}

.color-violet {
  color: $violet;
}

.color-black {
  color: #000;
}

.color-gray {
  color: $gray;
}

.pad-1 {
  padding-left: 2rem;
}

.pad-2 {
  padding-left: 4rem;
}

.pad-3 {
  padding-left: 13.3rem;
}

.pad-4 {
  padding-left: 6rem;
}

.gradient-box {
  background: #ff007e;
  background: -moz-linear-gradient(45deg, #ff007e 0%, #1278f5 100%);
  background: -webkit-linear-gradient(45deg, #ff007e 0%,#1278f5 100%);
  background: linear-gradient(45deg, #ff007e 0%,#1278f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007e', endColorstr='#1278f5',GradientType=1 );
  height: 50rem;
  width: 50rem;
  transform: rotate(-20deg);
}

.gradient-box-1 {
  position: absolute;
  left: -47rem;
  bottom: -6rem;
}

.gradient-box-2 {
  position: absolute;
  right: -45rem;
  top: -5rem;
}