#about {
  position: relative;
  h1 {
    font-size: 2rem;
    margin-top: 8rem;
    text-align: center;
    @media (max-width: 1230px) {
      margin-top: 3rem;
      font-size: 1.5rem;
    }
    @media (max-width: 1160px) {
      margin-top: 5rem;
    }
    span {
      color: $blue;
      display: block;
      &:nth-of-type(3) {
        color: $pink;
        font-size: 4rem;
        padding-top: 1rem;
        @media (max-width: 600px) {
          padding: 1rem 2rem 0;
          font-size: 3rem;
        }
      }
    }
  }
  div {
    h2 {
      color: $blue;
      font-size: 1.23rem;
      padding: 3rem 0 0 8rem;
      @media (max-width: 1230px) {
        padding: 2rem 0 0 8rem;
      }
      @media (max-width: 1160px) {
        font-size: 1.5rem;
      }
      @media (max-width: 950px) {
        padding: 3rem 1rem 0 8rem;
      }
      @media (max-width: 500px) {
        padding: 3rem 1rem 0 1rem;
      }
    }
    ul {
      padding: 0 0 0 8rem;
      list-style-type: none;
      @media (max-width: 500px) {
        padding: 0 1rem 0 1rem;
      }
      li {
        color: $violet;
        padding-top: .2rem;
        padding-left: .1rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
        @media (max-width: 1160px) {
          font-size: 1.3rem;
          line-height: 1.6rem;
        }
        @media (max-width: 950px) {
          font-size: 1.5rem;
          line-height: 1.9rem;
        }
        @media (max-width: 460px) {
          font-size: 1.3rem;
          line-height: 1.6rem;
        }
      }
    }
  }
  a {
    text-align: center;
    color: $gray;
    display: block;
    top: 90%;
    transition: all 1s ease-in-out;
    &:hover {
      font-size: 1.1rem;
    }
    @media (max-width: 1230px) {
      display: none;
    }
  }
}