@import url("https://fonts.googleapis.com/css?family=Offside");
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

img {
  border-style: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

figcaption,
article,
details,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 1200px) {
  .col-m-0 {
    width: 0%; }

  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media (max-width: 768px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
* {
  font-family: 'Offside', monospace;
  font-weight: 100;
  color: #000; }

::-webkit-scrollbar {
  display: none; }

html {
  background-color: #fff;
  font-size: 100%;
  overflow-x: hidden; }

section {
  height: 100vh; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

nav {
  height: 100vh;
  position: relative;
  display: none; }
  nav div {
    text-align: center;
    z-index: 10; }
    nav div a {
      position: relative;
      font-size: 4rem;
      line-height: 100vh;
      z-index: 10; }

.circle {
  height: 400px;
  width: 400px;
  z-index: -1; }

.circle:before, .circle:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
  z-index: -1; }

.circle:before {
  box-shadow: inset 0 55px 0 rgba(18, 120, 245, 0.6), inset 55px 0 0 rgba(0, 200, 200, 0.6), inset 0 -55px 0 rgba(0, 150, 200, 0.6), inset -55px 0 0 rgba(0, 200, 250, 0.6);
  animation: counterclockwise 10s -0.5s linear infinite; }

.circle:after {
  box-shadow: inset 0 100px 0 rgba(255, 0, 107, 0.6), inset 100px 0 0 rgba(255, 0, 50, 0.6), inset 0 -100px 0 rgba(120, 0, 200, 0.6), inset -100px 0 0 rgba(120, 0, 255, 0.6);
  animation: clockwise 10s -0.5s linear infinite; }

@keyframes clockwise {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(180deg) scaleX(1.1) scaleY(1.1); }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1); } }
@keyframes counterclockwise {
  0% {
    transform: rotateZ(0deg) scaleX(0.9) scaleY(0.9); }
  50% {
    transform: rotateZ(-180deg) scaleX(1.4) scaleY(1.4); }
  100% {
    transform: rotateZ(-360deg) scaleX(0.9) scaleY(0.9); } }
header {
  height: 100vh;
  z-index: 1; }
  header button {
    background: none;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    outline: none;
    cursor: pointer;
    z-index: 10; }
    header button i {
      padding: 10px;
      font-size: 40px;
      color: #ff006b; }
  header img {
    margin-top: 5vh;
    height: 95vh;
    min-width: 1px; }
  header .col-7 {
    position: relative;
    height: 100vh; }
    header .col-7 h1 {
      font-size: 4.5rem; }
      header .col-7 h1 span {
        color: #1278f5;
        display: block; }
        header .col-7 h1 span:nth-of-type(1) {
          margin-bottom: 5rem; }
        header .col-7 h1 span:nth-of-type(2) {
          font-size: 3.5rem;
          padding-left: .3rem; }
        header .col-7 h1 span:nth-of-type(3) {
          padding-left: 6rem; }
        header .col-7 h1 span:nth-of-type(4) {
          font-size: 5.5rem;
          color: #ff006b;
          padding-left: 2.5rem; }
        header .col-7 h1 span:nth-of-type(5) {
          padding-left: 14rem; }

#about h1 {
  font-size: 2rem;
  margin-top: 8rem;
  text-align: center; }
  #about h1 span {
    color: #1278f5;
    display: block; }
    #about h1 span:nth-of-type(3) {
      color: #ff006b;
      font-size: 4rem;
      padding-top: 1rem; }
#about ul {
  color: #1278f5;
  padding: 3rem 0 0 8rem;
  list-style-type: none;
  font-size: 1.2rem; }
  #about ul li {
    color: #7800ff;
    padding-top: .2rem;
    font-size: 1.1rem; }
#about a {
  text-align: center;
  color: #7d777a;
  margin-top: 7rem;
  display: block; }

#code-piece-0, #code-piece-1 {
  font-size: 10rem;
  text-align: center;
  line-height: 100vh; }

#code-piece-1 {
  font-size: 6rem; }

#code-piece-2 {
  position: relative; }
  #code-piece-2 p {
    font-size: 4rem; }
    #code-piece-2 p span {
      display: block;
      padding-left: 7rem;
      padding-top: .7rem; }

#code-piece-3 {
  font-size: 1.5rem;
  padding-top: 4rem;
  line-height: 2rem;
  position: relative; }

#code-piece-4 {
  font-size: 6rem;
  position: relative; }

#code-piece-5 {
  font-size: 6.5rem;
  position: relative;
  background: #FF006B;
  background: linear-gradient(90deg, #FF006B 0%, #1278f5 100%); }
  #code-piece-5 div {
    position: absolute;
    bottom: 5%;
    padding-top: 30vh;
    width: 100%; }
    #code-piece-5 div p {
      margin-left: 5%;
      color: #fff; }
  #code-piece-5 img {
    margin-top: 5vh;
    height: 95vh;
    min-width: 1px;
    position: absolute;
    bottom: 0;
    margin-left: 0;
    padding: 0;
    transform: scaleX(-1); }
  #code-piece-5 #img-1 {
    left: -5%; }
  #code-piece-5 #img-2 {
    left: 20%; }
  #code-piece-5 #img-3 {
    left: 40%; }
  #code-piece-5 #img-4 {
    left: 60%; }
  #code-piece-5 #img-5 {
    left: 90%; }
  #code-piece-5 #img-1, #code-piece-5 #img-2, #code-piece-5 #img-3, #code-piece-5 #img-4, #code-piece-5 #img-5 {
    transform: scaleY(-1);
    top: 0;
    margin-bottom: 5vh;
    margin-top: 0;
    animation: img-multiplying-0 9s linear infinite; }
  #code-piece-5 #img-6 {
    left: 3%;
    animation: img-multiplying-6 6s linear infinite; }
  #code-piece-5 #img-7 {
    left: 25%;
    animation: img-multiplying-7 4s linear infinite; }
  #code-piece-5 #img-8 {
    left: 50%;
    animation: img-multiplying-8 7s linear infinite; }
  #code-piece-5 #img-9 {
    left: 75%;
    animation: img-multiplying-9 5s linear infinite; }

@keyframes img-multiplying-0 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes img-multiplying-6 {
  0% {
    left: 0%;
    opacity: 1; }
  50% {
    left: 3%;
    opacity: .2; }
  100% {
    left: 0%;
    opacity: 1; } }
@keyframes img-multiplying-7 {
  0% {
    left: 22%;
    opacity: .2; }
  50% {
    left: 25%;
    opacity: 1; }
  100% {
    left: 22%;
    opacity: .2; } }
@keyframes img-multiplying-8 {
  0% {
    left: 50%;
    opacity: 1; }
  50% {
    left: 47%;
    opacity: .5; }
  100% {
    left: 50%;
    opacity: 1; } }
@keyframes img-multiplying-9 {
  0% {
    left: 75%;
    opacity: .2; }
  50% {
    left: 78%;
    opacity: 1; }
  100% {
    left: 75%;
    opacity: .2; } }
.color-pink {
  color: #ff006b; }

.color-blue {
  color: #1278f5; }

.color-violet {
  color: #7800ff; }

.color-black {
  color: #000; }

.color-gray {
  color: #7d777a; }

.pad-1 {
  padding-left: 2rem; }

.pad-2 {
  padding-left: 4rem; }

.pad-3 {
  padding-left: 13.3rem; }

.pad-4 {
  padding-left: 6rem; }

.gradient-box {
  background: #ff007e;
  background: linear-gradient(45deg, #ff007e 0%, #1278f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007e', endColorstr='#1278f5',GradientType=1 );
  height: 50rem;
  width: 50rem;
  transform: rotate(-20deg); }

.gradient-box-1 {
  position: absolute;
  left: -47rem;
  bottom: -6rem; }

.gradient-box-2 {
  position: absolute;
  right: -45rem;
  top: -5rem; }

.portfolio {
  position: relative; }
  .portfolio span {
    font-size: 25rem;
    color: #7800ff;
    position: absolute; }
    .portfolio span:first-of-type {
      right: 0;
      top: -8rem; }
    .portfolio span:last-of-type {
      left: 0;
      bottom: -8rem; }
  .portfolio .portfolio--color-gray {
    color: #7d777a; }
  .portfolio figure {
    margin: 8rem 0 0 17rem;
    width: 25rem; }
    .portfolio figure h1 {
      color: #7800ff;
      font-size: 1rem; }
    .portfolio figure h2 {
      color: #ff006b;
      font-size: 1.5rem;
      padding-bottom: .7rem; }
    .portfolio figure .layer {
      background-color: #ff006b;
      margin-bottom: .5rem;
      position: relative; }
      .portfolio figure .layer:hover img {
        opacity: 1; }
      .portfolio figure .layer img {
        width: 25rem;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        cursor: pointer; }
    .portfolio figure a {
      color: #1278f5;
      font-size: 1rem; }

.figure--right {
  margin: 17rem 0 0 5rem !important; }

.figure--last {
  margin: 9rem auto !important; }

address {
  height: 100vh;
  font-style: normal;
  text-align: center;
  position: relative; }
  address h1 {
    font-size: 3rem;
    padding-bottom: 1rem; }
  address p {
    font-size: 2rem;
    padding-bottom: .5rem; }
  address a {
    font-size: 2rem;
    padding-bottom: .5rem; }
    address a i {
      margin-top: 1rem;
      padding: 0 .3rem;
      font-size: 2.3rem;
      transition: color .3s ease-in-out; }
      address a i:hover {
        color: #1278f5; }

/*# sourceMappingURL=style.css.map */
